@import "colors";

.navBar {
  background-color: $primaryTransparent;
  backdrop-filter: blur(10px);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(140, 140, 140, 0.44);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: inline-block;
      padding: 20px 0;
    }

    span {
      a {
        padding-left: 20px;

      }
    }

    .brand {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.02em;
      display: inline-block;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

}

.mainContent {
  padding-top: 80px;
}